<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>What's the weather?</title>
        <style>
          * {
              margin: 0%;
          }
          body{
            font-family: Verdana, sans-serif;
            font-size: 12px;
            background-image: url("images/6.jpg");
          }
          #conteudo{
            /*position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);*/
          }
          h1{
            margin-top: 8%;
            margin-bottom: 3%;
            text-align: center;
          }
          #search{
            text-align: center;
            margin-bottom: 5%;
            width: 25%;
            margin: auto;
          }
          #cidade{
            width: 75%;
            margin-bottom: 2.5%;
          }
          #submitCidade{
            width: 75%;
          }
          #favs{
            text-align: center;
            display: none;
            opacity: 0.6;
            transition: 0.3s;
            background-color:	#DCDCDC;
            color: black;
            width: 100%;
            margin: auto;
          }
          button{
            background-color: grey;
            border: none;
            color: black;
            padding: 16px 32px;
            text-align: center;
            font-size: 16px;
            margin: 4px 2px;
            opacity: 0.6;
            transition: 0.3s;
            display: inline-block;
            text-decoration: none;
            cursor: pointer;
          }
          button:hover {opacity: 1}
          #favs:hover {opacity: 1}
          #Favorites{
            text-align: center;
            background-color: grey;
            color: black;
            width: 100%;
            height: 35px;
          }
          #Favorites h4{
            line-height: 39px;
            height: 39px;
            text-align: center;
          }
          #menuFavs{
            background-color: white;
            width: 18.75%;
            margin: auto;
            opacity: 0.6;
            margin-top: 4%;
          }
          #menuFavs:hover {opacity: 1}
          a{
            color: black;
          }
        </style>
    </head>
    <body>
          <h1>What's the weather?</h1>
          <form id="search" action="/weather">
              <input type="text" name="cidade" id="cidade">
              <button id="submitCidade" type="submit"><h4>Give me Weather!</h4></button>
          </form>
          <div id="menuFavs">
            <div id="Favorites"><h4>Favorites</h4></div>
            <form id="favs" class="form-horizontal">                      
              <div class="row">
                <div class="col-md-6">
                  <p id="favs-lista-texto">You don't have favs yet!</p>
                  <ul class="list-group" id="favs-lista">
                  </ul>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" id="add" class="btn btn-primary">Add Fav</button>
                <button type="reset" id="clean"  class="btn btn-secondary">Clean up</button>
            </div>
          </form>
        </div>
    </body>
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script>
    $(document).ready(function () {

       $("#favs-lista").hide();
       $("#item").focus();

      /*
       * check browser supports local storage
       */
      if (localStorage) {

        var favsLista_string = localStorage.getItem('favsLista');
        if (favsLista_string) {
          $("#favs-lista-texto").hide();
          $("#favs-lista").show();
          var favsLista = JSON.parse(favsLista_string);
          console.log(favsLista);
          $.each(favsLista, (index, text) => {
            //var addressEncoded = encodeURIComponent(text);
            $("#favs-lista").append(`<li class="list-group-item"><a href="http://localhost:3002/weather?cidade=${text}">${text}</a></li>`);
          });
        }
        
        //Apaga os favs
        $("form")
          .on('reset', function(){
            console.log('cleaning!...');
            localStorage.clear();
            location.reload();
          })

          //Adiciona os favs

          document.getElementById("add").onclick = function(){
           var favsLista_string = localStorage.getItem('favsLista');
           var favsLista =[];

           if(favsLista_string) {
               favsLista = JSON.parse(favsLista_string);
           }
           favsLista.push($("#cidade").val());
           localStorage.setItem('favsLista', JSON.stringify(favsLista));
           console.log(localStorage);
        }
      }
    });
    
    /*$("#favs").mouseleave(function(){
        $("#row").hide();
    });*/
    document.getElementById("menuFavs").addEventListener("mouseover", mouseOver);
    document.getElementById("menuFavs").addEventListener("mouseout", mouseOut);

    function mouseOver() {
        document.getElementById("favs").style.display = "block";
    }

    function mouseOut() {
        document.getElementById("favs").style.display = "none";
    }
    </script>
</html>