<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
    </head>
    <body>
        <h1>HELLO</h1>
        <form action="/weather">
            <input type="text" name="cidade" id="cidade">
            <button type="submit">Give me Weather!</button>
        </form>
    </body>
</html>